@model PaginatedList<ShoppingCart.Application.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1>Products Catalogue</h1>

<div class="container">
    <div class="row">
        <select id="CategoryForm" name="CategoryForm" class="chosen-select">
            @foreach (var product in Model)
            {
                <option value="@product.Category.Name">@product.Category.Name</option>
            }
        </select>
    </div>

    <div class="row">
        @foreach (var product in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="@product.ImageUrl" class="card-img-top card-image" alt="@product.Name">
                <div class="card-body">
                    <h5>@product.SelectedCategory</h5>
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">€@product.Price</p>
                    <a href="/Products/Details?id=@product.Id" class="btn btn-primary">View Specifications</a>
                    <a href="/Products/Details?id=@product.Id" onclick="return window.confirm('are you sure?')" class="btn btn-primary">Delete</a>
                </div>
            </div>
        }
    </div>
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>






